body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 2000px;
  height: 2000px;
  border: 4px solid #000000;
}
